/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: #f4f6f6;
}

.field {
	width: 360px;
	background: #fff;
	color: black;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	border: 0;
	outline: 0;
	padding: 13px 18px;
	border-radius: 1em;
}
